/Source_Code/Hibernate/PI_Hibernate/nbproject/private/
/Source_Code/Hibernate/PI_Hibernate/build/
/Source_Code/Hibernate/PI_Hibernate/dist/
/Source_Code/MVC/MVC/nbproject/private/
/Source_Code/MVC/ExercicioServlet2/nbproject/private/
/Source_Code/MVC/TCP/nbproject/private/
/Source_Code/MVC/TCP/build/
/Source_Code/MVC/TCP/dist/
/Source_Code/MVC/Ex1/nbproject/private/