/Source_Code/Hibernate/PI_Hibernate/nbproject/private/
/Source_Code/Hibernate/PI_Hibernate/build/
/Source_Code/Hibernate/PI_Hibernate/dist/
/Source_Code/MVC/MVC/nbproject/private/
/Source_Code/MVC/ExercicioServlet2/nbproject/private/
/Source_Code/MVC/TCP/nbproject/private/
/Source_Code/MVC/TCP/build/
/Source_Code/MVC/TCP/dist/
/Source_Code/MVC/Ex1/nbproject/private/
/Source_Code/WebServiceRJ/nbproject/private/
/Source_Code/SiteRJ/nbproject/private/
/Source_Code/SiteRJ/dist/
/Source_Code/SiteRJ/build/
/Source_Code/WebServiceRJ/dist/
/Source_Code/WebServiceRJ/build/
/Source_Code/FlightSystem/nbproject/private/
/Source_Code/WS_Consimer/nbproject/private/
/Source_Code/FlightSystem/build/
/Source_Code/FlightSystem/dist/
/Source_Code/WS_FligthSystem/nbproject/private/
/Source_Code/WS_FligthSystem/dist/
/Source_Code/WS_FligthSystem/build/
/Source_Code/WS_Consimer/build/
/Source_Code/Hibernate/DB_FlightSystem/nbproject/private/
/Source_Code/Hibernate/DB_FlightSystem/build/
/Source_Code/Hibernate/DB_FlightSystem/dist/