/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/10/2014, 15:21:11
    Author     : Flavinha
*/
html, body, div, span, h1, h2,  p, a,  ul, li, img
{margin: 0; padding: 0;
border: 0; outline: 0;
font-size: 100%;background: transparent;}
ul {list-style: none;}
:focus {outline: 0;}
a {text-decoration:none;}
*{
margin: 0 auto;
padding: 0 auto;	
}
p{
    color: #dddddd;
}
body{
    width: 100%;
    height: 100%;
    background-color: #002040;
    vertical-align: middle;
    text-align: center;
}
#bHome{
    width: 100%;
    height: 100%;
    background-image: url(../images/bgHome.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%,100%;
    vertical-align: middle;
    text-align: center;
}
#Header {
    background: #002040;
}

#principal{
    width: 100%;
    height: 100%;
    margin-top: 80px;
    text-align: center;
    font-family: calibri;
    font-size: 10px;
    font-style: inherit;
    color: #ffffff;
}
#msg1 
 {
    padding: 10px;
    font-family: arial;
    font-size: 21px;
    color: #ffffff;
    text-align: left;
 }
 
 #home.hover{
     color: #ffffff;
 }
 #home.visited
 {
     color: #ffffff;
 }
 #msg2 
 {
    padding: 10px;
    font-family: arial;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
 }
 #opcoes ul {
     list-style:none;
     display: block;
     text-decoration:none;
      
 }
 #opcoes ul li{
     font-size: 15px;
     padding: 35px 30px 20px 10px;     
     list-style:none;
     display: inline-block;
     text-decoration:underline;
     color: #ffffff;
     font-family: arial;  
     text-align: center;
 }
  #opcoes li button{
     color: #ffffff; 
     
 }
 #opcoes li button:hover{
     color: #ffffff; 
     width: 180px;
 }
 #opcoes li button:visited{
     color: #e3e3e3;     
 }
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 30px 15px 30px;
  border: solid #ffffff 4px;
  text-decoration: none;
  line-height: 25px;
  width: 180px;
}

.btn:hover {
  background: #002040;
  text-decoration: none;
}
#home{
     font-size: 16px;
     list-style:none;
     display: inline-block;
     text-decoration:underline;
     color: #ffffff;
     font-family: arial;  
 }
 